body {
  margin: 0;
  text-align: center;
}
.line1 {
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  color: #e94560;
  margin-bottom: 174px;
  width: 10%;
}
.line2 {
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  color: #e94560;
  margin-top: 100px;
  margin-bottom: 100px;
  width: 10%;
}

/* ***************button*************** */

.BUTTON_VQN {
  background: #e94560;
  background-image: -webkit-linear-gradient(top, #e94560, #e11335);
  background-image: -moz-linear-gradient(top, #e94560, #e11335);
  background-image: -ms-linear-gradient(top, #e94560, #e11335);
  background-image: -o-linear-gradient(top, #e94560, #e11335);
  background-image: linear-gradient(to bottom, #e94560, #e11335);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #ffffff;
  font-family: Open Sans;
  font-size: 40px;
  font-weight: 100;
  padding: 10px 20px 10px 20px;
  box-shadow: 1px 1px 20px 0px #000000;
  -webkit-box-shadow: 1px 1px 20px 0px #000000;
  -moz-box-shadow: 1px 1px 20px 0px #000000;
  text-shadow: 1px 1px 20px #000000;
  border: solid #e94560 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.BUTTON_VQN:hover {
  border: solid #337fed 1px;
  background: #3d94f6;
  background-image: -webkit-linear-gradient(top, #3d94f6, #0f3460);
  background-image: -moz-linear-gradient(top, #3d94f6, #0f3460);
  background-image: -ms-linear-gradient(top, #3d94f6, #0f3460);
  background-image: -o-linear-gradient(top, #3d94f6, #0f3460);
  background-image: linear-gradient(to bottom, #3d94f6, #0f3460);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}

/* ***************images*************** */

.me_img {
  width: 400px;
}
.emp_img {
  width: 250px;
  float: left;
  margin-right: 25px;
}
.rush_img {
  width: 250px;
  float: right;
  margin-left: 25px;
}

/* ***************nav*************** */
.nav {
  font-family: "Russo One", sans-serif;
}
.nav-home:hover {
  background-color: #0f3460;
  color: #e94560;
}
.nav-skills:hover {
  background-color: #0f3460;
  color: #e94560;
}
.nav-contact:hover {
  background-color: #0f3460;
  color: #e94560;
}

.nav-home {
  background-color: #e94560;
  border-radius: 5px;
  color: #0f3460;
  text-decoration: none;
  padding: 5px;
  position: absolute;
  right: 25%;
  top: 5%;
  width: 75px;
}
.nav-skills {
  background-color: #e94560;
  border-radius: 5px;
  color: #0f3460;
  text-decoration: none;
  padding: 5px;
  position: absolute;
  right: 15%;
  top: 5%;
  width: 75px;
}
.nav-contact {
  background-color: #e94560;
  border-radius: 5px;
  color: #0f3460;
  text-decoration: none;
  padding: 5px;
  position: absolute;
  right: 5%;
  top: 5%;
  width: 75px;
}

/* ***************top container*************** */

.top-con {
  background-color: #1a1a2e;
  height: 600px;
  margin-top: 0;
  padding-top: 275px;
  position: relative;
  width: 100%;
}
.head1 {
  color: #e94560;
  font-family: "Shadows Into Light", cursive;
  font-size: 7.625rem;
  margin-top: 0;
  margin-bottom: 20px;
}
.p1 {
  color: #e94560;
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
}

/* ***************middle container*************** */

.skill-b {
  background-color: #0f3460;
  padding-top: 100px;
  padding-bottom: 70px;
  margin-top: 0;
  width: 100%;
}

.skills {
  margin: 0 auto 0 auto;
  width: 50%;
}

.me {
  padding-bottom: 150px;
}
.me_h2 {
  color: #e94560;
  font-size: 4rem;
  font-family: "Russo One", sans-serif;
}
.me_p {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 1.5rem;
}

.emp_h {
  color: #e94560;
  font-size: 3rem;
  font-family: "Londrina Solid", cursive;
}
.emp_p {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

.rush {
  margin-top: 150px;
}
.rush_h {
  color: #e94560;
  font-size: 3rem;
  font-family: "Londrina Solid", cursive;
}
.rush_p {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

.contact_h2 {
  color: #e94560;
  font-size: 4rem;
  font-family: "Londrina Solid", cursive;
  margin-bottom: 100px;
}

/* ***************footer container*************** */

.footer {
  background-color: #e94560;
  height: 100px;
  padding-top: 30px;
}
.insta {
  width: 40px;
  padding-right: 50px;
}
.fb {
  width: 40px;
}
.twitter {
  width: 40px;
  padding-left: 50px;
}
.footer_p {
  color: #1a1a2e;
  font-family: 'Montserrat', sans-serif;----p
}
.icon_attr{
  background-color: #e94560;

}
.icon_link:any-link{
  color: black;
}